body
{
    padding:10px;
    margin:40px;
    font-size: 24px;
    font-family: Melvetica;
    background-image: url(https://wallpapermemory.com/uploads/804/planets-background-hd-3200x2048-153351.jpg);
}
nav
{
    background-color: white;
    padding: 0px
    color:#8537b3;
}